<ion-header>
  <ion-navbar>
    <ion-title>Berita Resmi Statistik (BRS)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">

  <!--
    <ion-fab right bottom>
      <button ion-fab color="buttons" (click)="launchSearchModal()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-fab>
  -->
  
  <ion-row class="filter-search">
      <ion-searchbar placeholder = "Cari BRS" [(ngModel)]="keyword" (ionInput)="searchBRS()"></ion-searchbar>
    
      <ion-item>
       <ion-label><ion-icon name="funnel"></ion-icon>&nbsp;Filter Tahun</ion-label>
       <ion-select  (ionChange)="getOuterName()" [(ngModel)]="getSelectedValue">
          <ion-option *ngFor="let some of someItems" value="{{some.id}}"> {{some.value}} </ion-option>
       </ion-select>
      </ion-item>
   </ion-row>

  <ion-row>
    <img src="assets/imgs/brs.png"/>
  </ion-row>

  <div *ngIf="allPublication.length>0">
    <span *ngFor="let list of allPublication" color="dark">
      <ion-label style="font-size: 1rem;text-align: right;padding-right: 2%;">
        <span *ngIf="list.count>0;else elseBlock"><ion-icon name="paper"></ion-icon>&nbsp;Menampilkan {{list.total}} BRS</span>
        <ng-template #elseBlock></ng-template>
      </ion-label>
    </span>

      <ion-grid *ngFor="let pub of listDomain">
        <ion-card (click)="launchPubDetailsPage(pub)">
          <ion-row>
            <ion-col size="12" style="font-weight: bold;">
              <ion-label color="danger" style="font-size: 1.2rem;">
              <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;{{ showTanggalIndonesia(pub.rl_date) }}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <ion-icon name="arrow-round-forward"></ion-icon>
              </ion-label>
              <p style="font-size: 1.5rem;"><ion-icon name="megaphone"></ion-icon>&nbsp;&nbsp;{{pub.title}}</p> 
              <ion-label color="secondary" style="font-size: 1.2rem;">
              <ion-icon name="cloud-download"></ion-icon>&nbsp;
              {{pub.size}}
              &nbsp;
              <span style="color: #0BB4D3;">#{{pub.subj}}</span></ion-label>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-grid>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText=""></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="allPublication.length<=0">
    <ion-grid>
      <ion-row>
          <ion-card>
            <ion-icon name="information-circle"></ion-icon>&nbsp;&nbsp;Tidak ada hasil ditemukan.
          </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
