page-search {
    .ion-padding{
        ion-col{
            font-size: 1.5rem;
        }
        .item ion-thumbnail ion-img,
        .item ion-thumbnail img {
            max-width: 10rem;    
            min-height: 12rem;
            object-fit: cover;
            display: block;
            margin:0 auto;
        }
    }
}
